body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 75rem;
    padding-top: 7rem;
    background: url('background-scaled.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#search-form,
.form-control {
    margin-bottom: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 5px solid #e45343;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.75);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid dimgray;
    margin: 1em 0;
    padding: 0; 
}